.left {
    width: 15%;
    float: left;
}

.closeBtn {
    width: 100%;
    color: blue;
}

.highlight {
    font-style: italic;
    color: rgba(14, 14, 103, 0.48);
    font-weight: bolder;
}

li {
    cursor: pointer;
}

li:not(.highlight):hover {
    background: rgba(0, 0, 0, .05);
}

.container {
    position: relative;
    display: block;
    padding: 5px;
    margin: 5px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
}