<?xml version="1.0" encoding="utf-8"?>
<Settings Version="10.0">
	<SnapFlags V="127"/>
	<MouseSensitive V="1.5"/>
	<GridSnapDist V="6"/>
	<VertexSnapeDist V="8"/>
	<LinePtOnDist V="6"/>
	<AnchorSnapDist V="18"/>
	<ConnectSnapeDist V="10"/>
	<GuideLineSnapDist V="10"/>
	<AidsSnapDist V="8"/>
	<AidsDisplayDist V="6"/>
	<MinValidDist V="5"/>
	<MinValidSize V="10"/>
	<Angle15SnapDist V="80"/>
	<Angle10SnapDist V="120"/>
	<Angle5SnapDist V="160"/>
	<Angle1SnapDist V="220"/>
	<ConLineMinDis V="6"/>
	<HideCptsMinSize V="21"/>
	<AutoSaveElapse V="600"/>
	<UndoLevel V="60"/>
	<RecentTemplates V="20"/>
	<RecentFileNum V="50"/>
	<AntiAlias V="TRUE"/>
	<TextAntiAlias V="TRUE"/>
	<SpellCheck V="TRUE"/>
	<MetricUnits V="1"/>
	<HideFloatButton V="FALSE"/>
	<QuickMenu V="TRUE"/>
	<DefaultTheme V="20"/>
	<DefaultQuickStyle V="51"/>
	<MarginX V="37.7953"/>
	<MarginY V="37.7953"/>
	<RectWidth V="100"/>
	<RectHeight V="22"/>
	<RoundRectWidth V="160"/>
	<RoundRectHeight V="100"/>
	<RoundRadius V="16"/>
	<EllipseWidth V="160"/>
	<EllipseHeight V="100"/>
	<PolygonRadius V="40"/>
	<PolygonEageNum V="6"/>
	<StarInterRadius V="35"/>
	<StarOuterRadius V="70"/>
	<StarVertexNum V="5"/>
	<HelixClockWise V="TRUE"/>
	<HelixDecreasePer V="0.8"/>
	<HelixRadius V="233"/>
	<HelixSegNum V="10"/>
	<ArcRate V="0.55"/>
	<ArcWidth V="140"/>
	<ArcHeight V="70"/>
	<ArcClosed V="FALSE"/>
	<LineLength V="103"/>
	<LineAngle V="45"/>
	<ExpSize V="0"/>
	<ExpZoom V="1"/>
	<ExpShapes V="2"/>
	<ExpSolution V="0"/>
	<ExpSolutionX V="96"/>
	<ExpSolutionY V="96"/>
	<ExpUnit V="pixel"/>
	<HpScale V="50"/>
	<mmMajor V="20"/>
	<mmMinor V="10"/>
	<mmAutoLayout V="TRUE"/>
	<OrgAutoLayout V="TRUE"/>
	<OrgVerDist V="16"/>
	<OrgHorDist V="16"/>
	<OrgHorAss V="8"/>
	<OfficeExpAsGroup V="TRUE"/>
	<OfficeExpAllPages V="TRUE"/>
	<OfficeExpBkgrd V="TRUE"/>
	<OfficeExpZoom V="76"/>
	<WordExpZoom V="60"/>
	<ExcelExpZoom V="100"/>
	<OfficeExpAutoSize V="TRUE"/>
	<HtmlTitle V="TRUE"/>
	<HtmlSingle V="TRUE"/>
	<HtmlPreview V="TRUE"/>
	<HtmlGrid V="FALSE"/>
	<SvgType V="1"/>
	<PaperColor V="#ffffff"/>
	<PageGridColor V="#dcdcdc"/>
	<DateFormat V="yyyy-MM-dd"/>
	<CurrencyUnit V="CNY"/>
	<WindowPos Y="0" Height="0" X="0" Width="0"/>
	<MultiInstances V="FALSE"/>
	<UseDefaultFont V="FALSE"/>
	<DefaultFont V="Arial"/>
	<DefaultFontSize V="10"/>
	<DefaultTextAlign V="5"/>
	<DefaultTextBold V="FALSE"/>
	<DefaultTextItalic V="FALSE"/>
	<DefaultTextUnderline V="FALSE"/>
	<DefaultTextStrikethrough V="FALSE"/>
	<DefaultLineSpacing V="100"/>
	<DefaultBackClr V=""/>
	<DefaultFontClr V="#000000"/>
	<DefaultLineClr V="#000000"/>
	<AppUseDefaultConnectStyle V="FALSE"/>
	<DefaultCntWidth V="1"/>
	<DefaultCntDash V="1"/>
	<DefaultCntStartHeadID V="0"/>
	<DefaultCntStartHeadSize V="3"/>
	<DefaultCntEndHeadID V="5"/>
	<DefaultCntEndHeadSize V="3"/>
	<DefaultCntRound V="0"/>
	<DefaultCntJumpMode V="1"/>
	<DefaultCntJumpStyle V="0"/>
	<AppUseDefaultColor V="FALSE"/>
	<DefaultThemeColor V="31"/>
	<AppUseDefaultPageSize V="FALSE"/>
	<DefaultPageSize V="13"/>
	<ServerIP V=""/>
	<ServerPort V="8915"/>
	<FitRuler V="TRUE"/>
	<ShowConnection V="TRUE"/>
	<ShowMMThemeNotice V="TRUE"/>
	<CheckForUpdatesAtStart V="FALSE"/>
	<Language V="de"/>
	<AdPackage V="0"/>
	<LocalLangID V="300"/>
	<GrowthTest V=""/>
	<InstallTime V="2023-10-25 08:44:32"/>
</Settings>
