<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    <link rel="stylesheet" href="./assets/css/table.css">
    <title>Titel</title>
    <style>
        .left {
            width: 20%;
            float: left;
        }

        .closeBtn {
            width: 100%;
            color: blue;
        }

        .highlight {
            font-style: italic;
            border: 2px solid rgb(32, 18, 18);
        }

        li {
            cursor: pointer;
        }

        li:not(.highlight):hover {
            background: rgba(0, 0, 0, .05);
        }

        .container {
            position: relative;
            display: block;
            padding: 5px;
            margin: 5px;
            background: #eee;
            border: 1px solid #aaa;
            border-radius: 5px;
        }
    </style>
    <script src="./assets/js/jquery-3.7.1.js"></script>
    <script type="module">
        'use strict';
        import { get } from './assets/js/CRUD.js';
        import { table } from './assets/js/Table.js';

        // KONSTANTEN / VARIABLEN
        const elements = {}


        const filterClick = (evt) => {
            /**
             *  Click event for the filter button. Adding an highlight class to the filter dom element
             *  on the navbar. Also or removes the clicked filter from the filter array.
             * */
            const target = evt.currentTarget;
            target.classList.toggle('highlight')
            if (target.classList.contains('highlight') &&
                !elements.filterArr.includes(evt.currentTarget.innerText)) {
                // add to Filter array
                elements.filterArr.push(evt.currentTarget.innerText);
            } else {
                // removing from the filters array
                elements.filterArr = elements.filterArr.filter(el => { console.log(el);
                    el == evt.currentTarget.innerText ? 0 : 1 })
            }
            // render the table with the applied filters
            table(elements.tableHead, elements.tableBody,elements.tableFoot, elements.Articles, elements.filterArr)
        }

        // FUNKTIONEN
        const domMapping = () => {
        }

        const appendEventlisteners = () => {
            /**
             * add the Eventlistener like the filter function for the genre / subegenre navbar
             * */

            // Genre / SubGenre click event
            for (const el of Array.from(document.querySelectorAll("li"))) {
                el.addEventListener('click', filterClick);
            }
        }

        const createFilter = ({ headerText = "Genre", bulletPoints } = {}) => {
            /**
             * Appends the genre / sub genre filter to the navigation
             * */
            const nav = document.querySelector("#nav")
            const head = document.createElement("h2");
            head.innerText = headerText;
            nav.append(head)
            bulletPoints.forEach((el) => {
                let item = document.createElement("li");
                item.innerText = el.name;
                nav.append(item)
            });
        }

        const loadData = async () => {
            /**
             * First, load all the data we need
             */

            elements.Articles = await get({
                url: "http://192.168.0.2:5000/select_all_articles",
                body: "Model.Vinyl.Record.Record"
            });

            elements.genre = await get({
                url: "http://192.168.0.2:5000/select",
                body: {
                    "table": "genre",
                    "fields": ["name"]
                }
            });

            elements.subGenre = await get({
                url: "http://192.168.0.2:5000/select",
                body: {
                    "table": "sub_genre",
                    "fields": ["name"]
                }
            });
            // set the genre / subgenres for the bulletpoints

            // also create an array with all genres so the filtering is easier 
            // (only one array instead of both genre and subgenre array)
            elements.tableHead = document.querySelector("#head")
            elements.tableBody = document.querySelector("#body")
            elements.tableFoot = document.querySelector("#foot")
            elements.filterArr = []
        }

        const init = async () => {
            domMapping()
            await loadData();
            createFilter({ bulletPoints: elements.genre });
            createFilter({ headerText: "Sub Genre", bulletPoints: elements.subGenre });
            appendEventlisteners();
            table(elements.tableHead, elements.tableBody, elements.tableFoot, elements.Articles, elements.filterArr)
        }

        // INIT
        document.addEventListener('DOMContentLoaded', init)
        // todo: Tabelle nur x viele Daten anzeigen
        // button der unten an der Tabelle klebt
        // Anderes design fuer die nav Filter Geschichte
    </script>
</head>

<body>
    <div class="left container">
        <div class="left" id="filter"></div>
        <ul id="nav">

        </ul>
    </div>
    <div class="tableContainer">
        <table class = "dataTable">
            <thead id="head"></thead>
            <tbody id="body"></tbody>
            <tfoot id="foot"></tfoot>
        </table>
    </div>
</body>
</html>