<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titel</title>
    <style>
        .left {
            width: 20%;
            float: left;
        }

        .closeBtn {
            width: 100%;
            color: blue;
        }
        .highlight {
            background-color: rgb(255, 233, 225);
            border: 2px solid rgb(205, 50, 50);
            padding: 5px;
        }

        li {
            cursor: pointer;
        }

        li:not(.highlight):hover {
            background: rgba(0,0,0,.05);            
        }

    </style>

    <script type="module">
        'use strict';
        import { get } from './assets/js/CRUD.js';

        // KONSTANTEN / VARIABLEN
        const elements = {}
        const genres = []
        const subGenres = []
        let filters = []

        const deleteFilter = evt => {
            const index = filter.indexOf(evt.currentTarget.innerText);
            const x = filter.splice(index, 1);
            evt.currentTarget.remove();
        }

        const addFilter = evt => {
            const target = evt.currentTarget;
            target.classList.toggle('highlight')
            console.log(target.classList);
            if(target.classList.contains('highlight') && 
                !filters.includes(evt.currentTarget.innerText)){
                // add to Filter array
                filters.push(evt.currentTarget.innerText);
            } else{
                filters = filters.filter(el => {el == evt.currentTarget.innerText ? 0 : 1})
            }
            fillTable()
        }


        const clickEvent = () => {
            fillTable()
        }

        const appendEventlisteners = () => {
            /**
             * add the Eventlistener like the filter function for the genre / subegenre navbar
             * */

            // Genre / SubGenre click event
            for (const el of Array.from(document.querySelectorAll("li"))) {
                el.addEventListener('click', addFilter);
            }
        }

        const createFilter = ({headerText = "Genre", bulletPoints} = {}) => {
            /**
             * Appends the genre / sub genre filter to the navigation
             * */
            const nav = document.querySelector("#nav")
            const head = document.createElement("h2");
            head.innerText = headerText;
            nav.append(head)
            bulletPoints.forEach((el) => {
                let item = document.createElement("li");
                item.innerText = el;
                nav.append(item)
            });     
        }


        const addToTable = ({ tr, tableRow, head = false } = {}) => {
            /** 
             * Iterates over the given table row 
             * @tr {tableRow} 
             * @tableRow {object} 
             * @head {bool}  
            */
            const tableEl = head ? document.querySelector("#head") : document.querySelector("#body");
            
            for (const [key, value] of Object.entries(tableRow)) {
                // Ignore relationships like the genre and ignore the article id also
                if (typeof value =='object') continue;
                if (key.match('id')) continue;
   
                const thtd = document.createElement(head ? "th" : "td");
                thtd.innerHTML = head ? key : value
                tr.append(thtd);
                tableEl.append(tr);
            }
        }

        const removeElements = (el) => {
            while (el.firstChild) {
                el.removeChild(el.firstChild);
            }
        }

        const filterData = () => {
            /** 
             * A function for article filter purposes.
             * First, iterate over the articles via filter, check if article has a genre.
             * If this is the case, check if the filters array includes the genre name
            */
            
            return filters.length ? elements.Articles.filter(article =>{
                const ret = 0;
                return article.genres.some(genre => {
                    //console.log(filters.includes(el.genre.name))
                    return filters.some(filter => {
                        if (genre.genre.name == filter) return true
                        return false;
                    });

                }) 
                //return ret;
            } ) : elements.Articles
   
        }

        const fillTable = () => {
            removeElements(document.querySelector("#head"));
            removeElements(document.querySelector("#body"));
            let tr = document.createElement("tr");
            const filterdArticles = ""
            let count = 0;
            for (const article of filterData()) {
        
                if (!count) {
                    addToTable({ tr, tableRow: article, head: true })
                }
                tr = document.createElement("tr");

                addToTable({ tr, tableRow: article, head: false })
                count ++;
            }
        }

        
        const loadData = async () => {
            /**
             * First, load all the data we need
             */

            elements.Articles = await get({
                url: "http://192.168.0.2:5000/select_all_articles", 
                body: "Model.Vinyl.Record.Record"
            });
            
            elements.genre = await get({
                url: "http://192.168.0.2:5000/select", 
                body: {
                    "table": "genre",
                    "fields": ["name"]
                }
            });

            elements.subGenre = await get({
                url: "http://192.168.0.2:5000/select", 
                body: {
                    "table": "sub_genre",
                    "fields": ["name"]
                }
            });
            elements.genre.map((el) => genres.push(el.name))
            elements.subGenre.map((el) => subGenres.push(el.name))
        }

        const init = async () => {
            await loadData();
            createFilter({bulletPoints: genres});
            createFilter({headerText: "Sub Genre", bulletPoints: genres});
            appendEventlisteners();
            fillTable()
        }

        // INIT
        document.addEventListener('DOMContentLoaded', init)
        // todo: Tabelle nur x viele Daten anzeigen
        // button der unten an der Tabelle klebt
        // Anderes design fuer die nav Filter Geschichte
    </script>
</head>

<body>
    <div class="left">
        <div class="left" id="filter"></div>
        <ul id="nav">

        </ul>
    </div>
    <div>
        <table>
            <thead id="head"></thead>
            <tbody id="body"></tbody>
        </table>
    </div>
</body>

</html>